{% extends "layout.html" %}

{% block title %}
    Home
{% endblock title %}

{% block body %}
    <div class="main">
        <div class="content">
            <h1>CYCLETRACK</h1>
            <p class="par">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                Quia quasi dolore dolor veritatis similique totam? Praesentium
                delectus rerum eos beatae minima nostrum officia temporibus 
                laboriosam, esse laudantium quibusdam doloremque qui?
            </p>
            <button class="explore btn btn-primary">AVAILABLE BIKES</button>
            <button class="explore">REGISTER TODAY</button>
        </div>

    </div>
 
   <div class='how-it-works'>
    <h1 class='header'>How it Works</h1>
   </div>
   <div class="steps-container">
        <div class="steps">
            <img src="../static/images/select.jpg">
            <div class="steps-content">
                <h3>Step 1</h3>
                <p>Login and visit the rent page to select a bicycle from the available ones.</p>
            </div>
        </div>
        <div class="steps">
            <img src="../static/images/book.jpg">
            <div class="steps-content">
                <h3>Step 2</h3>
                <p>Book the selected bike and select the time you will pick it up.</p>
            </div>
        </div>
        <div class="steps">
            <img src="../static/images/pick.jpg">
            <div class="steps-content">
                <h3>Step 3</h3>
                <p>Pick up the bicycle you selected and start your ride.</p>
            </div>
        </div>
        <div class="steps">
            <img src="../static/images/ride.jpg">
            <div class="steps-content">
                <h3>Step 4</h3>
                <p>After riding the bicycle, return it to the owner and pay.</p>
            </div>
        </div>
   </div>
   <section class="about">
    <div class="heading">
        <h1>About Us</h1>
    </div>
    <div class="about-container">
        <div class="about-content">
            <h2>History of CycleTrack</h2>
            <p>CycleTrack is a bicycle renting web application. When I was in the university, we used to rent bicycles and give our student IDs to the owner as a collateral and the owner used to claculate prices manually. CycleTrack aims to digitize this business by strreamlining the process of renting and rturning a bicycle and calculating the amount to be paid.</p>
            <button class="cta-btn">Learn More</button>
        </div>
        <div class="about-img">
            <img src="../static/images/main.png">
        </div>
    </div>
   </section>
   <div class="social-icons">
        <h3>My Social handles &rarr;</h3>
        <a href="https://www.linkedin.com/in/erick-kamanda/"> <i class="fa-brands fa-linkedin"></i></a>
        <a href="https://github.com/kamandaerick?tab=repositories"> <i class="fa-brands fa-github"></i></a>
        <a href="https://twitter.com/Kamanda_Erickk"> <i class="fa-brands fa-square-x-twitter"></i></a>
        <h3>Project repository &rarr;</h3>
        <a href="https://github.com/kamandaerick/CycleTrack"> <i class="fa-brands fa-github repo"></i></a>
    </div>
   <div class='how-it-works'>
    <h1 class='header'>Why Choose Us</h1>
   </div>
   <div class="steps-container">
        <div class="steps">
            <img src="../static/images/price.jpg">
            <div class="steps-content">
                <h3>Very affordable prices</h3>
                <p>We only charge as little as Ksh 2 per minute.</p>
            </div>
        </div>
        <div class="steps">
            <img src="../static/images/variety.jpg">
            <div class="steps-content">
                <h3>Wide varaiety of Bikes</h3>
                <p>We have wide varieties of bikes ranging from mountain to cargo bikes.</p>
            </div>
        </div>
        <div class="steps">
            <img src="../static/images/booking.jpg">
            <div class="steps-content">
                <h3>Easy online booking</h3>
                <p>The process of booking and taking the bike is very simple.</p>
            </div>
        </div>
        <div class="steps">
            <img src="../static/images/payment.jpg">
            <div class="steps-content">
                <h3>Variety of payment methods</h3>
                <p>You can pay in cash, Mpesa, PayPal or through VISA.</p>
            </div>
        </div>
   </div>
   <div class="video">
    <video width="1200" height="500" controls>
      <source src="../static/images/video.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
   </div>

{% endblock body %}